<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Reset Password</h3>
    
              <form #resetPwdForm="ngForm" (ngSubmit)="onSubmit()" style="width: 25rem;">
                
                <div class="form-group mb-4">
                  <input type="password" name="password" class="form-control form-control-lg" required [(ngModel)]="password" />
                  <label class="form-label" for="email">Enter new Password</label>
                </div>             

                <div class="form-group mb-4">
                    <input type="password" name="confirmPassword" class="form-control form-control-lg" required [(ngModel)]="confirmPassword" />
                    <label class="form-label" for="email">Confirm Password</label>
                  </div>           
                
                <div class="row mt-3">
                  <div class="col-sm-5">
                    <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="!resetPwdForm.valid">Submit</button>
                  </div>                  
                </div>
                <div class="row mt-3">                  
                   <p class="error"> {{error}} </p>                            
                </div>
              </form>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>