
    <div class="card ml-3 mb-3 mt-3 pt-3" style="max-width: 90rem;" id="main">        
        <div class="card-body pl-4 pb-4 pt-4">  
            <div class="card-item pl-4 pb-4" id="intro">         
                <h4>ProgrammingPracticeTests has various tests to practice skills in <a href="#js">JavaScript</a>,
                    <a href="#html"> HTML</a> & <a href="#css">CSS</a>.
                </h4>
            </div>
            <div class="card-item" id="js">
                <h3 class="card-title">JavaScript</h3>
                <p class="card-text">JavaScript ("JS" for short) is a cross-platform dynamic scripting language that can add interactivity 
                    to a website. JS is case-sensitive and uses the Unicode character set.
                </p>
                <h5>Comments</h5>
                <p>Comments can be one line or multi-line.</p>
                <code style="background-color: rgb(235, 229, 229);">// one line comment  <br><br>
                /* multi-line <br>
                        comment<br>
                    */
                </code>
                <h5>Declarations</h5>
                <ul>There are 3 types of variable declarations in JS.
                    <li><strong>var </strong>- function-scoped or globally-scoped</li>
                    <li><strong>let </strong>- block-scoped</li>
                    <li><strong>const</strong>-block-scoped, should be initialized with a value.</li>
                </ul>
                <h5>Data types</h5>
                 <p>The latest ECMAScript standard defines 7 <strong>Primitive </strong>data types- Boolean, null, undefined, Number, BigInt, String, Symbol
                    and <strong>Object</strong>      </p>                              
                
                <h5>Operators</h5>
                <ol>JS has the following types of operators with precedence listed in ascending order.
                    <li><strong>Comma</strong></li>
                    <li><strong>Assignment operators</strong></li>
                    <li><strong>Conditional (ternary) operator</strong></li>
                    <li><strong>Logical OR (||)</strong></li>
                    <li><strong>Logical AND (&&) </strong></li>
                    <li><strong>Bitwise OR (|)</strong></li>
                    <li><strong>Bitwise XOR(^)</strong></li>
                    <li><strong>Bitwise AND (&)</strong></li>
                    <li><strong>Equality(==), Inequality(!=), Strict Equality(===), Strict Inequality(!==)</strong></li>
                    <li><strong>Less Than (<), Less Than Or Equal (<=), Greater Than (>), Greater Than Or Equal (>=), in , instanceof</strong></li>
                    <li><strong>Bitwise Left Shift (<<), Bitwise Right Shift (>>), Bitwise Unsigned Right Shift (>>>)</strong></li>
                    <li><strong>Addition, Subtraction</strong></li>
                    <li><strong>Multiplication(*), Division (/), Remainder(%)</strong></li>
                    <li><strong>Exponentiation(**)</strong></li>
                    <li><strong>Logical NOT(!), Bitwise NOT (~), Unary plus (+), unary negation (-), prefix increment, <br/>
                        prefix Decrement, typeof, volid, delete, await </strong></li>
                    <li><strong>Postfix Increment, Postfix Decrement</strong></li>
                    <li><strong>new (without argument list)</strong></li>
                    <li><strong>Member Access(.), Computed Member Access(...[...]), new (with argument list), Function Call, Optional Chaining (?.)</strong></li>
                    <li><strong>Grouping</strong></li>

                </ol>
            </div>
            <div class="card-item" id="html">
                <div class="row">
                <div class="col-md-9">
                <h3 class="card-title">HTML</h3>
                <p class="card-text">HTML(Hypertext Markup Language) is used to define the structure of a web page and its content.
                </p>
                <p>An <strong>HTML element </strong>would have a start tag, content and an end tag. For example, <br/>
                    &lt;h3&gt; hello world &lt;/h3&gt;
                    <br/> <br/><strong>Attributes</strong> can be added to start tag in the form name=value as follows: <br/>
                    &lt;h3 class="head-3"&gt; hello world &lt;/h3&gt;
                </p>
                </div>
                <div class="col-md-3" id="up">
                    <a href="#main">Up</a>           
                </div>   
                </div>     
            </div>
            <div class="card-item" id="css">               
                <h3 class="card-title">CSS</h3>
                <p class="card-text">CSS(Cascading Style Sheets)is used for adding style to web content. 
                </p>
                <ul>CSS selectors can be divide into 5 categories:
                    <li><strong>Simple selectors</strong> used to select elements based on name, id and class.</li>
                    <li><strong>Combinator selectors</strong> used to select elements based on relationship between them.</li>
                    <li><strong>Pseudo-class selectors</strong> used to select elements based on the state</li>
                    <li><strong>Pseudo-element selectors</strong> used to style part of an element</li>
                    <li><strong>Attribute selectors</strong>used to select elements based on an attribute or attribute value</li>
                </ul>                         
            </div>
        </div>
    </div>

