<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form</h3>
  
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" style="width: 23rem;">
  
              <div class="form-group mb-4">
                <input required type="email" name="email" [pattern]="emailPattern" class="form-control form-control-lg"
                   [(ngModel)]="loginData.email" email="true"  #email="ngModel" />
                <label class="form-label" for="email">Email address</label>
                <div class="error" *ngIf="password.valid && email.errors"> 
                  <div *ngIf="email.errors.required"> 
                    Email address is required.
                  </div>	                  
                  <div *ngIf="email.errors.pattern"> 
                    Email address not valid.
                  </div>	
                </div>
              </div>
  
              <div class="form-group mb-4">
                <input required type="password" name="password" class="form-control form-control-lg"#password="ngModel" [(ngModel)]="loginData.password"  />
                <label class="form-label" for="password">Password</label>
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-warning btn-lg btn-block" type="submit" [disabled]="!loginForm.valid">Login</button>
              </div>
  
              <p class="small mb-4 pb-lg-2"><a class="text-muted" routerLink="/forgot-password">Forgot password?</a></p>
              <p>Don't have an account? <a routerLink="/signup" class="link-info">Register here</a></p>
  
            </form>  

          </div>
        </div>
      </div>
    </div>
  </div>
</section>