<nav class="navbar navbar-expand-lg navbar-light">   
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""> <h1><img src=""/>ProgrammingPracticeTests</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li *ngFor="let items of menuItems">
            <a class="nav-item" routerLink="{{ items.link}}" routerLinkActive="active">{{ items.linkName}}</a>
          </li>         
    </ul>    
    </div>   
    <div  *ngIf="!isLoggedIn; else loggedInTemplate">
        <button routerLink="login"class="btn btn-light ms-3">Login</button>
        <button routerLink="signup"class="btn btn-light ms-3">SignUp</button>
    </div>
    <ng-template #loggedInTemplate>
      <a  *ngIf="isAdmin()" routerLink="admin">Admin</a>
      <a routerLink="profile"> {{user.email}}</a>
      <button (click)="logOut()"class="btn btn-light ms-3">Logout</button>
    </ng-template>
  </div>
</nav>
