.card {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.card-header {
    background-color: #05aa9c;
}

li {
    list-style-type: none;
    cursor: pointer;
    margin: 10px 0;    
}

li .card:hover {
    border: 1px solid black;
}

.time {
    margin:10px;
    padding: 5px;
    background-color: rgb(144, 228, 231);
}